body,
html {
  padding: 0;
  margin: 0;
}
.container {
  background-color:#2E2E66
;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  header{
    color: white;
    font-size: 2vw;
    padding: .5em 1em;
    font-family: 'Roboto Slab', serif;
  }
  .recharts-wrapper {
    width: 100% !important;
    height: 100% !important;
  }
  .recharts-surface {
    width: 100% !important;
    height: 100% !important;
  }
  .recharts-layer {
    text {
      fill: #7c71bf;
    }
  }
  &--no-data{
    font-size: 5vw;
    color: white;
    text-align: center;
  }
}
